#session{
    color: brown;
    cursor: pointer;
}

.box{
    padding: 10px;
    background-color: rgba(101, 112, 101, 0.863);
    width:500px;
    height: 300px;
    border: 30px;
    border-radius: 15px;
    padding: 20px;
    text-justify: 20px;
    margin-right: 10px;
    
}
.box2{
    background-color: rgb(136, 136, 131);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px;
    text-justify: 20px;
    margin-right: 10px;
    
}
.box3{
    padding: 10px;
    background-color: rgb(143, 128, 128);
    border-radius: 15px;
    padding: 20px;
    text-justify: 20px;

}
#container{
    display: flex ;
    padding: 10px;
    justify-content:end;

}

.upre2{
 text-align: end;
 margin-bottom: 20px;
 padding: 20px;
 border: 10px solid black;
 border-top-left-radius: 5px;
 border-end-end-radius: 5px ;
 background-image:url("Doctor\ image/Doctor 1.png");background-repeat: no-repeat;
 justify-content: space-between;
 
}
.session{
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
}
.facilities{
    border: 3px solid rgba(95, 30, 30, 0.74);
    border-radius: 4px;
    width: 20%;
    margin: 10px;
    padding: 10px;

}
.upre{
    justify-content: space-around;
    margin-left: 20px;
}
.magazine{
    margin: 10px;
    padding: 10px;
    text: justify 10px;;
    border: 9px solid black;
    border-radius: 5px;
    background-image: url("Doctor\ image/Doctor 3.png"); background-repeat: no-repeat; background-position: 20px;
    background-position-x: right;
background-size: 500px;

}